/* Ogólne stylizacje */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Jasno szare tło */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Pełna wysokość ekranu */
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 40px auto 0;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

.exit-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4c4c;
    /* Czerwony */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.exit-button:hover {
    background-color: #d43f3f;
    /* Ciemniejszy czerwony */
}

.input-field {
    width: 300px;
    /* Szerokość pola tekstowego */
    padding: 10px;
    /* Wewnętrzny odstęp */
    margin-bottom: 10px;
    /* Odstęp między polami */
}


/* Stylizacja dla nazw graczy */
.nazwa-gracza {
    font-size: 48px;
    /* Trzykrotnie większe */
    font-weight: bold;
    /* Pogrubione */
    margin: 20px 0;
}

/* Stylizacja planszy do gry */
.plansza-krzyzyk-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.plansza-krzyzyk {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: auto;
}

.pole {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stylizacja komunikatu */
.komunikat {
    font-size: 24px;
    margin: 20px 0;
    color: #000;
}

/* Stylizacja przycisków */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006400;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    /* Większy odstęp dolny */
}

.button:hover {
    background-color: #004d00;
}
